@let heroData = heroService.hero();
@let enemyData = gameService.enemy();
@let gmStatus = gameService.gameStatus();

<h1>Hero</h1>
<p>Edit: <input (input)="updateName($event)" [value]="heroData.name" /></p>
<app-character-card [name]="heroData.name" [hp]="heroData.hp" [hpMax]="heroData.hpMax" [attack]="heroData.attack" [level]="heroData.level" [status]="heroService.heroStatus()"></app-character-card>
<button (click)="heroService.updateHp(-10)">Take Damage</button>
<button (click)="heroService.updateHp(10)">Heal</button>
<p>Stats:</p>
<ul>
  @for (stat of statList; track stat) {
    <li>{{ stat }}: {{ heroData.stats[stat] }}</li>
  }
</ul>
<br />
<hr />
<br />
<p>
  Game: {{ gameStatusLabel[gmStatus] }}
  @switch (gmStatus) {
    @case (gameStatus.STOP) {
      <button (click)="gameService.startGame()">Start</button>
    }
    @case (gameStatus.PLAYING) {
      <button (click)="gameService.stopGame()">Stop</button>
    }
    @case (gameStatus.VICTORY) {
      <button (click)="gameService.nextLevel()">Next</button>
      <button (click)="gameService.restartGame()">Restart</button>
      <button (click)="gameService.stopGame()">Stop</button>
    }
    @case (gameStatus.GAME_OVER) {
      <button (click)="gameService.restartGame()">Restart</button>
      <button (click)="gameService.stopGame()">Stop</button>
    }
    @default {
      <span>ERROR: Invalid Game Status !</span>
    }
  }
</p>
<p>Enemies defeated: {{ gameService.enemiesDefeated() }}</p>
<p>Total power: {{ heroService.totalPower() }}</p>
<p>IsReady: {{ gameService.isReady() }}</p>
<p>Inventory: {{ itemService.statInventory()|json }}</p>
@if (gmStatus !== gameStatus.STOP) {
  <h1>Enemy</h1>
  <app-character-card [name]="enemyData.name" [hp]="enemyData.hp" [hpMax]="enemyData.hpMax" [attack]="enemyData.attack" [level]="1" [status]="gameService.enemyStatus()"></app-character-card>
  @if (gmStatus === gameStatus.PLAYING && heroData.hp > 0) {
    <button (click)="gameService.attack()">Attack</button>
  }
<br />
<app-item />
<br />
<hr />
<br />
  <h2>Battle Log</h2>
  <ul>  
    @for (entry of gameService.history(); track $index) {
      <li>{{ entry }}</li>
    } 
  </ul>
}
